$header-height: 70px;
$toolbar-height: 40px;
$formula-height: 28px;
$toolbar-text-color: rgba(0,0,0,.8);
$active-bg: #d9ead3;
$active-select-item: #cccccc;
$border-color: rgb(217, 217, 217);
$buttons-color: #202124;
$hover-background: #eee;
$table-background: #f8f9fa;
$primary-color: #3c74ff;

$info-cell-width: 40px;
$row-height: 24px;
$cell-width: 120px;