@import "_table.selection";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Comfortaa:wght@400;700&family=Kanit:wght@400;700&family=Libre+Bodoni:wght@400;700&family=Lora:wght@400;700&display=swap');

.excel__table {
    position: absolute;
    top: $header-height + $toolbar-height + $formula-height;
    left: 0;
    right: 0;

    overflow-x: auto;
    padding-bottom: 20px;

    & .table_row {
        display: flex;
        flex-direction: row;
        min-height: 20px;
        height: $row-height;
    }

    & .row-info {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $info-cell-width;
        height: 100%;
        border: 1px solid $border-color;
        background: $table-background;
        border-top: none;
    }

    & .row-data {
        display: flex;
        flex-direction: row;
    }

    & .table_col {
        position: relative;
        display: flex; 
        justify-content: center;
        align-items: center;
        background: $table-background;
        min-width: 40px;
        width: $cell-width;
        border: 1px solid $border-color;
        border-top: 0px;
        border-left: 0px;
        height: 100%;
    }

    & .cell {
        min-width: 40px;
        padding: 5px;
        width: $cell-width;
        height: 100%;
        border: 1px solid #e2e3e3;
        border-top: 0px;
        border-left: 0px;
        color: #111;
        white-space: nowrap;
        outline: none;

        &.selected {
            border: none;
            outline: 2px solid $primary-color;
            z-index: 2;
        }
    }

    .col-resize, .row-resize {
        position: absolute;
        bottom: 0;
        right: 0;
        background: $primary-color;
        opacity: 0;
        z-index: 1000;
    }

    .col-resize {
        top: 0;
        width: 4px;

        &:hover {
            opacity: 1!important;
            cursor: col-resize;
        }
    }

    .row-resize {
        left: 0;
        height: 4px;

        &:hover {
            opacity: 1!important;
            cursor: row-resize;
        } 
    }
}